<br />

@{
    ViewData["Title"] = "Quiénes somos";
}

<div class="row">
    <div class="text-center">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="row">
    <div class="container">
        Carta de presentación los directores<br />
        Nos complace darles la bienvenida a la página web de Centro Música educación<br />
        Centro Música fue fundada en el año 2014 para cubrir las necesidades de innovación en el ámbito educativo musical así como para generar empleo de calidad y un medio libre donde las nuevas generaciones de profesionales pudieran desarrollar e integrar las nuevas tendencias educativas provenientes de Europa<br />
        Centro música está compuesto por varios centros educativos principalmente dedicados a la enseñanza musical con numerosas delegaciones y escuelas a lo largo de la geografía andaluza y da trabajo a más de 50 personas<br />
        >Cada uno de nuestros centros, forman parte de un conjunto; comparten filosofía y siguen una misma línea educativa<br />
        Actualmente estamos acreditados como centro oficial preparador y examinador de algunos de los principales exam board existentes tales como ABRSM (Associated board of The Royal School of Music) de Londres y Rock School Awards (actualmente aprobados por el plan Bolonia). Estas acreditaciones nos permiten preparar a nuestros alumnos para la obtención de títulos oficiales que son válidos a nivel mundial. Asimismo, estamos en proceso de homologación para convertirnos en conservatorio profesional de música de acuerdo con las exigencias de la Junta de Andalucía<br />
        Nuestro método educativo es vanguardista, flexible y está directamente relacionado con las mejores escuelas y metodologías existentes. Una de nuestras principales premisas es adaptar los contenidos a la necesidad de cada alumno, sin perder de vista unos objetivos básicos previamente marcados<br />
        Nuestro profesorado tiene una gran vocación docente y posee las titulaciones superiores musicales o en su caso las necesarias para impartir asignaturas no regladas. El profesorado es instruido y entrenado por Centro Música para aplicar el método a la perfección. Ademas, todas las asignaturas son sometidas a un constante proceso de control e inspección<br />
        Desde la dirección de centro música queremos invitaros a que conozcáis nuestro innovador método educativo y sus excelentes resultados, así como al gran equipo humano de profesionales con el que trabajamos<br />
        Recibid un cordial saludo. <br>
        Directores y fundadores de Center Music Management S.L<br />
        Jesús Segura y Francisco Miguel Martínez<br />
    </div>
</div>
